<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
  showcancelbutton="always"
  placeholder="Produto"
  (ionInput)="filterProduct($event)"
  clearInput>
</ion-searchbar>

<ion-list lines="none">
  <ion-item *ngFor="let p of products">
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>{{ p.nome }}</h3>
      </ion-text>
      <p>Preço de venda: R${{ p.precoVenda }}</p>
      <div *ngIf="p.qtd > 0; else elseBlock">

        <p>Quantidade em estoque: {{ p.qtd }} </p>
      </div>
      <div>
        <ng-template  #elseBlock>Produto fora de estoque!</ng-template>

      </div>

      <ion-button (click)="addToComanda(p)">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>


