<!-- <ion-header>
  <ion-toolbar>
    <p>   Buscar produto</p>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
  showcancelbutton="always"
></ion-searchbar>

<ion-list lines="none">
  <ion-item *ngFor="let p of productsz"
  [detail]="true">
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>{{ p.nome }}</h3>
      </ion-text>
      <p>Preço de venda: R${{ p.precoCusto }}</p>
      <p>Quantidade em estoque: {{ p.qtd }} </p>

      <ion-button (click)="addToCart(products)">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
 -->
