<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ nome?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>{{ nome?.nome }}</h3>

  <h3>Quantidade</h3>
  <p> {{ qtd?.qtd }} </p>

  <h3>Preco de Custo</h3>
  <p>{{ precoCusto?.precoCusto }}</p>

  <h3>Preco de Venda</h3>
  <p>{{ precoVenda?.precoVenda }}</p>

  <ion-button expand="block" (click)="deleteProduct()"> Deletar Produto </ion-button>
</ion-content>
