<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let v of vendaList |async">
    <ion-card-header *ngFor="let item of v.produtos">
      <ion-card-subtitle>{{v.data}}</ion-card-subtitle>
      <ion-card-title>{{v.fPagamento}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Valor sem desconto: {{v.valorSubTotal}}
      Valor total: {{v.valorTotal}}
      Produtos: {{v.produtos}}

    </ion-card-content>
  </ion-card>


</ion-content>
