<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrinho de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- listar produtos no carrinho -->



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let p of products">
      <p>{{ p.nome }}</p>
      <ion-label>{{ p.count }}x</ion-label>
    </ion-item>

  </ion-list>
</ion-content>













