<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pushPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>




<!--Listar Produtos-->
<ion-item
*ngFor="let product of productList | async"
routerLink="/detail/{{product.id}}"
>
<ion-label>
  <h2>{{ product.nome}}</h2>
  <p>Preco de Venda: {{ product.precoVenda }}</p>
</ion-label>
</ion-item>
</ion-content>
