<ion-header translucent>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="pushPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




<!--Listar Produtos-->
<ion-card *ngFor="let product of productList| async" >
<ion-card-header>
  <ion-card-title>
    {{ product.nome}}
  </ion-card-title>
</ion-card-header>

<ion-card-content>

  <div class="page-wrapper">
    <div class="row">
      <div class="column" *ngIf="product.qtd > 0; else elseBlock">
        <p>Quantidade: {{ product.qtd }}</p>
      </div>
    </div>
    <ng-template  #elseBlock>Produto fora de estoque!</ng-template>
  </div>

  <div class="page-wrapper">
    <div class="row">
      <div class="column">
        <p>Preco de Custo: {{ product.precoCusto }}</p>
      </div>
    </div>
  </div>

  <div class="page-wrapper">
    <div class="row">
      <div class="column">
        <p>Preco de Venda: {{ product.precoVenda }}</p>
      </div>
    </div>
  </div>



      <ion-row size="1.5">
        <ion-col>
          <ion-button (click)="deleteProduct(product.id)" size="small">
            <ion-icon name="trash" size="small"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col >
          <ion-button (click)="updateProduct(product)" size="small">
            <ion-icon name="create-outline" size="small"></ion-icon>
          </ion-button>
        </ion-col>
     </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
