<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item *ngFor="let v of vendaList| async" >
    <ion-item *ngFor="let item of v.produtos">
      <ion-label>
        <ion-text>
          {{v.key}}
        </ion-text>
      </ion-label>
      <ion-label>
        <ion-text>
          {{item.nome}}
        </ion-text>
      </ion-label>
      <ion-label>
        <ion-text>
          {{v.data}}
        </ion-text>
      </ion-label>
    </ion-item>


</ion-item>



</ion-content>
